
<app-layout></app-layout>
<router-outlet></router-outlet>
<div style="text-align:center">
  <button value="Add" id="Add" (click)="addNew()">Add</button>
  <button value="Edit" id="Edit" (click)="editElement()">Edit</button>
  <button value="Delete" id="Delete" (click)="removeElement()">Delete</button>
  <ul>
    <h2>
      <ng-container *ngFor="let item of nodeList" >
          <div *ngIf = "!testFunc(item.id)"><li [ngClass]= "createClass(item.id)" (click)="changeClass(item.id)" contenteditable="false">{{item.node}}</li></div>
        <div *ngIf = "testFunc(item.id)"><li [ngClass]= "createClass(item.id)" contenteditable="true" ><input type="text" [(ngModel)]="item.node"></li>
            <button (click)="ok()">OK</button>
            <button (click)="cancel()">Cancel</button></div>
      </ng-container>
    </h2>
  </ul>
</div>
